
wallet-slide{
  height: 100%;
  display: block;
}
.transactions-header{
  text-align: center;
  font-size: 1.4rem;
  margin: 1.2rem 0;
}
.transaction-scroll{
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 203px);
}
.wallet-slide-dots{
  z-index: 1;
  position: absolute;
  top: 2.4rem;
  right: 0;
  left: 0;
  text-align: center;
  > .wallet-slide-dots-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    > li{
      border-radius: 50%;
      display: inline-block;
      margin: 0 3px;
      width: 12px;
      height: 12px;
      background-color: color($colors, secondary);
      &.active{
        background-color: color($colors, fourth);
      }
    }
  }
}
.slide-wrapper{
  position: relative;
  height: 100%;
}
