
<ion-content [ngClass]="{'no-wallets': wallets.length == 0}">
  <a class="sign-out" (tap)="logoutPrompt()">Sign Out</a>

  <wallet-slide
          *ngIf="wallets.length > 0"
          [wallets]="wallets"
  ></wallet-slide>

  <div class="vertical-container" *ngIf="wallets.length == 0">
    <div class="vertical-align no-wallets-message">
      <h2>Deposit money to start using mBarter!</h2>
      <button ion-button round><ion-icon name="add"></ion-icon>&nbsp; Deposit</button>
    </div>
  </div>
</ion-content>
