
<ion-header>

  <ion-navbar>
    <ion-title text-center>Send Money</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="form" (ngSubmit)="send()" novalidate>
    <ion-card>
      <ion-card-content>

        <ion-item>
          <ion-label stacked>Amount</ion-label>
          <ion-input type="number" formControlName="amount" placeholder="0.00" step="0.01" min="0" [max]="maxAmount" (input)="updateValidAmount()"></ion-input>
        </ion-item>
        <div *ngIf="!validAmount">You must enter an amount less than {{maxAmount}}.</div>

        <ion-item>
          <ion-label stacked>Select Currency</ion-label>
          <ion-select formControlName="wallet" (ionChange)="updateValidAmount()">
            <ion-option *ngFor="let wallet of wallets" [value]="wallet" >
              {{ wallet.currency_code }}   -   Balance: {{ wallet.balance }}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Select Receiver</ion-label>
          <ion-select formControlName="receiver">
            <ion-option value="johndoe">John Doe</ion-option>
            <ion-option value="janedoe">Jane Doe</ion-option>
            <ion-option value="trump">Donald Trump (therealdonaldtrump@gmail.com)</ion-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label stacked>Message</ion-label>
        <ion-textarea rows="4" formControlName="message" placeholder="Write a message (optional)."  maxlength="255"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>


  <div text-center>
    <button ion-button type="submit" block [disabled]="!form.valid || !validAmount">Send</button>
  </div>
  </form>

</ion-content>
