// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background : color($colors, primary);
}

.toolbar-title{
  color : color($colors, base);
}

.vertical-container, .vertical-align{
  width: 100%;
}

.vertical-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.toolbar-title{
  color : color($colors, white);
  font-family: $font-family-base;
}

.toolbar-title-ios{
  font-weight: 300;
}

.header-ios .toolbar-background-ios{
  border: none;
}

.ion-page > ion-content{
  background-color: color($colors, light);
}

.input-group{
  position: relative;
}

.card{
  box-shadow: none;
  .card-content {
    padding: 0;
    &.separated {
      ion-item + ion-item {
        border-top: #eee solid 1px;
      }
    }
  }
}

.pt-0{
  padding-top: 0 !important;
}
.pb-0{
  padding-bottom: 0 !important;
}

.md{
  .button-padding {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.ios{
  .button-padding {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.button-padding + .button-padding {
  margin-top: 12px;
}