<ion-header>

  <ion-navbar>
    <ion-title text-center>Transfers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding class="pb-0">
    <ion-segment [(ngModel)]="action">
      <ion-segment-button value="incoming">
        Incoming
      </ion-segment-button>
      <ion-segment-button value="outgoing">
        Outgoing
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="action">

    <div *ngSwitchCase="'incoming'">
      <ion-card>
        <ion-card-content class="separated">
          <div class="transfer" *ngFor="let transfer of incomingTransfers" (click)="showAcceptDeclineModal(transfer)">
            <div class="details">
              <div>
                {{ transfer.status | uppercase }} - {{ transfer.created_at | date: 'longDate'}}
              </div>
              <div>
                From: {{ transfer.sender }}
              </div>
            </div>
            <div class="amount">
              <p ion-text item-right color="in">+{{transfer.amount}}</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'outgoing'">
      <ng-container *ngIf="outgoingTransfers!=undefined">
        <ion-card>
          <ion-card-content class="separated">
            <div class="transfer" *ngFor="let transfer of outgoingTransfers.data" (click)="showTransferModal(transfer)">
              <div class="details">
                <div>
                  {{ transfer.status | uppercase }} - {{ transfer.created_at | date: 'longDate'}}
                </div>
                <div>
                  To: {{ transfer.receiver.name }}
                </div>
              </div>
              <div class="amount">
                <p ion-text item-right color="out">-{{ transfer.amount }}</p>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </div>

  </div>

</ion-content>
