<ion-header>

  <ion-navbar>
    <ion-title text-center>Transfers</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="action">
      <ion-segment-button value="history">
        Incoming
      </ion-segment-button>
      <ion-segment-button value="pending">
        Outgoing
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="action">
    <ion-list *ngSwitchCase="'pending'">
      <ng-container *ngIf="pending!=undefined">
        <ion-item *ngFor="let transfer of pending.data" (click)="showTransferModal(transfer)">
          {{transfer.receiver.name}}
          <p ion-text item-right color="out">{{transfer.amount}} OUT</p>
        </ion-item>
      </ng-container>
    </ion-list>
    
    <ion-list *ngSwitchCase="'history'">
       <ion-item *ngFor="let transfer of pendingTransfers" (click)="showAcceptDeclineModal(transfer)">
        <ion-avatar item-left>
          <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
        </ion-avatar>
        <h2>{{transfer.sender}}</h2>
        <p ion-text item-right color="in">+{{transfer.amount}}</p>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
