transaction {
  display: block;
  & + transaction {
    border-top: color($colors, light) 1px solid;
  }
}
.transaction{
  display: flex;
  align-items: center;
  background: color($colors, white);
  padding: 15px 10px;
  > .details{
    width: calc(100% - 50px);
  }
  > .amount{
    text-align: center;
    width: 50px;
    &.negative{
      color: red;
    }

    &.positive{
      color: green;
    }
  }
}

