transaction {
  display: block;
  & + transaction {
    border-top: color($colors, light) 1px solid;
  }
}
.transaction{
  display: flex;
  align-items: center;
  background: color($colors, white);
  padding: 10px;
  > .details{
    width: calc(100% - 50px);
    > div:first-child{
      font-size: 0.8em;
      margin-bottom: 5px;
    }
  }
  > .amount{
    text-align: center;
    width: 100px;
    text-align: right;
    &.negative{
      color: color($colors, out);
    }

    &.positive{
      color: color($colors, in);
    }
  }
  &.bank {
    padding-left: 8px;
    border-left: 2px #b7b7b7 solid;
  }
}

